@import-normalize; /* bring in normalize.css styles */

:root {
  --color-title: #333;
  --color-text: #555;
  --color-hover: #ff8c00;
  --white: #fff;
  --color-bg: #f2f2f2;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --header-border: #e7e9fc;
  --header-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --input-border: #ccc;
  --btn-bg: #e65100;
  --bg-main: #f9f9f9;
  --main-border: #ddd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}
